

.loggedin{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.admin-div{
    background-color: aquamarine;
    cursor:pointer;
}